<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Xóa sản phẩm</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#check-all').click(function(){
                $('input[type="checkbox"]').prop('checked', $(this).prop('checked'));
            });
        });
    </script>
</head>
<body>
    <a href="{{ url_for('home') }}">Trang chủ</a>
    <h1>Xóa sản phẩm</h1>
    <form method="post">
        <input type="checkbox" id="check-all">
        <label for="check-all">Chọn tất cả</label>
        <table>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Thời gian</th>
                <th>Select</th>
            </tr>
            {% for items in items %}
            <tr>
                <td>{{ items.code }}</td>
                <td>{{ items.name }}</td>
                <td><img src="{{ url_for('static', filename='uploads/' + items.image) }}" alt="image" width="200" height="150"></td>
                <td>{{ items.timestamp.strftime('%H:%M:%S - %d/%m/%Y') }}</td>
                <td><input type="checkbox" name="items_ids" value="{{ items._id }}"></td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit" value="Xóa">
    </form>

</body>
</html>
